name: tests

on:
  workflow_call:

permissions:
  contents: read

defaults:
  run:
    working-directory: .

jobs:
  symfony-tests:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8
        env:
          MYSQL_ROOT_PASSWORD: root
          MYSQL_DATABASE: api_test
        options: >-
          --health-cmd="mysqladmin ping -h 127.0.0.1 -uroot -proot"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=20

    env:
      APP_ENV: test
      DATABASE_URL: mysql://root:root@mysql:3306/api_test?serverVersion=8.0

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.2'
          tools: composer:v2
          extensions: pdo_mysql

      - name: Cache Composer
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist --no-progress

      - name: Generate JWT keys (only if tests require it)
        run: php bin/console lexik:jwt:generate-keypair --skip-if-exists

      - name: Execute tests (Unit and Feature tests) via PHPUnit
        env:
          DATABASE_URL:  mysql://root:@127.0.0.1:3306/api_test
        run: |
          php bin/console --no-interaction doctrine:migrations:migrate
          vendor/bin/phpunit
